---
import PageLayout from '@/layouts/PageLayout.astro'
import Icons from '@/components/Icons.astro' // Change from astro-icon to our custom component

// Define member teams for filtering
const teams = [
  'All Members',
  'Design & Marketing Team',
  'Sectarian Team',
  'Tec & Dev Team'
]

// Define frontmatter for the page
const frontmatter = {
  title: 'Executive Committee | Association of Software Engineering - NSBM',
  description:
    'Meet the leadership team of the Association of Software Engineering at NSBM Green University.',
  activeHeaderLink: 'Excom',
  searchable: true
}

// Define committee members data
const members = [
  {
    name: 'Darren Victoria',
    studentNumber: '24821',
    nsbmMail: 'jdvictoria@students.nsbm.ac.lk',
    personalMail: 'darrenvictoria2@gmail.com',
    position: 'President',
    dob: '16/07/2005',
    program: 'BSc.(Hons) in Software Engineering',
    university: 'Plymouth',
    batch: '22.2',
    mobile: '0713456484',
    linkedin: 'https://www.linkedin.com/in/darrenvictoria/',
    facebook: '',
    instagram: 'https://www.instagram.com/darren.victoria.x/',
    teams: [],
    leadership: true,
    leadershipLevel: 1,
    image:
      'https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Raminda Kariyawasam',
    studentNumber: '21427',
    nsbmMail: 'kadrdulmin@students.nsbm.ac.lk',
    personalMail: 'raminda5575@gmail.com',
    position: 'Vice President',
    dob: '19/12/2003',
    program: 'Software Engineering',
    university: 'Plymouth',
    batch: '22.1',
    mobile: '0758702922',
    linkedin: 'https://www.linkedin.com/in/raminda-dulmin',
    facebook: 'https://www.facebook.com/Raminda.Rulzz/',
    instagram: 'https://www.instagram.com/ramiyaaaaaaaa/',
    teams: [],
    leadership: true,
    leadershipLevel: 1,
    image:
      'https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Hashini Wickramaarachchi',
    studentNumber: '28549',
    nsbmMail: 'hepwickramaarachchi@students.nsbm.ac.lk',
    personalMail: 'haphashinipabasara@gmail.com',
    position: 'Secretary',
    dob: '07/10/2001',
    program: 'BSC hons in Software Engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0754501335',
    linkedin: 'www.linkedin.com/in/hashini-wickramaarachchi-514691255',
    facebook: '',
    instagram: '',
    teams: ['Sectarian Team'],
    leadership: true,
    leadershipLevel: 2,
    image:
      'https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80'
  },
  {
    name: 'Malithi Guniyangoda',
    studentNumber: '28809',
    nsbmMail: 'mkguniyangoda@students.nsbm.ac.lk',
    personalMail: 'guniyangodamalithi@gmail.com',
    position: 'Vice- secretary',
    dob: '20/05/2000',
    program: 'BSc. ( Honours) in Software Engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0740818093',
    linkedin: 'https://www.linkedin.com/in/malithi-guniyangoda-881554326',
    facebook: 'https://www.facebook.com/share/15fgmTjCqu/',
    instagram:
      'https://www.instagram.com/k.x.vishk.x._00?igsh=MWVxenVoNHo3bHkydg==',
    teams: ['Sectarian Team'],
    leadership: true,
    leadershipLevel: 2,
    image:
      'https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1361&q=80'
  },
  {
    name: 'Hiruni Athukorala',
    studentNumber: '30629',
    nsbmMail: 'hlspushpakumara@students.nsbm.ac.lk',
    personalMail: 'hirunilalithya2003@gmail.com',
    position: 'Treasurer',
    dob: '14/07/2003',
    program: 'Software Engineering',
    university: 'Plymouth',
    batch: '23.1',
    mobile: '0755571405',
    linkedin: 'https://www.linkedin.com/in/hiruni-athukorala',
    facebook: 'https://www.facebook.com/profile.php?id=100091402354109',
    instagram: 'https://www.instagram.com/hiruz_07',
    teams: ['Design & Marketing Team'],
    leadership: true,
    leadershipLevel: 2,
    image:
      'https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80'
  },
  {
    name: 'Nisandi Rajapaksha',
    studentNumber: '29342',
    nsbmMail: 'pnsrajapaksha@students.nsbm.ac.lk',
    personalMail: 'rajapakshanisandi@gmail.com',
    position: 'Vice-treasurer',
    dob: '16/11/2001',
    program: 'Software engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0766117648',
    linkedin: 'https://www.linkedin.com/in/nisandi-rajapaksha-238560257',
    facebook: 'https://www.facebook.com/share/1BC6UUL9xV/',
    instagram:
      'https://www.instagram.com/invites/contact/?igsh=1910d143i8iz1&utm_content=s5sw43n',
    teams: ['Design & Marketing Team'],
    leadership: true,
    leadershipLevel: 2,
    image:
      'https://images.unsplash.com/photo-1551836022-d5d88e9218df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Lakshan Dulhara',
    studentNumber: '28599',
    nsbmMail: 'kldkaluthotage@students.nsbm.ac.lk',
    personalMail: 'wkldulhara@gmail.com',
    position: 'Organizer',
    dob: '19/05/2001',
    program: 'Software engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0705752145',
    linkedin: 'https://www.linkedin.com/in/dulhara-l-923178162',
    facebook: 'https://www.facebook.com/lakshandulhara.kaluthotage',
    instagram: 'https://www.instagram.com/lakshandulhara',
    teams: ['Design & Marketing Team', 'Sectarian Team', 'Tec & Dev Team'],
    leadership: true,
    leadershipLevel: 2,
    image:
      'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Kaweesha Kavindi',
    studentNumber: '32942',
    nsbmMail: 'kkpunchihevage@students.nsbm.ac.lk',
    personalMail: 'kaweeshakavindi2002@gmail.com',
    position: 'Co-chief organizer',
    dob: '08/09/2002',
    program: 'Software engineering',
    university: 'UGC',
    batch: '23.2',
    mobile: '0718303644',
    linkedin: 'https://www.linkedin.com/in/kaweesha-kavindi-8825672a8',
    facebook: 'https://www.facebook.com/share/15pnMheBPC/',
    instagram: 'https://www.instagram.com/_k.kavindi_',
    teams: ['Sectarian Team'],
    leadership: true,
    leadershipLevel: 2,
    image:
      'https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80'
  },
  {
    name: 'Deshan Vimukthi De Silva',
    studentNumber: '28460',
    nsbmMail: 'dvdsilva@students.nsbm.ac.lk',
    personalMail: 'deshanvimukthi482@gmail.com',
    position: 'Chief technical lead',
    dob: '02/10/2000',
    program: 'BSc Software engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0766057528',
    linkedin: 'https://www.linkedin.com/in/deshan-vimukthi-de-silva-11335b261',
    facebook: '',
    instagram: '',
    teams: ['Sectarian Team'],
    leadership: true,
    leadershipLevel: 3,
    image:
      'https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Sandaru Tharaka',
    studentNumber: '28415',
    nsbmMail: 'mstpathirana@students.nsbm.ac.lk',
    personalMail: 'sandaru.email@gmail.com',
    position: 'Chief media creator',
    dob: '09/06/2001',
    program: 'Bsc software engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0704408983',
    linkedin: 'https://www.linkedin.com/in/sandaru-tharaka-675096276',
    facebook: 'https://www.facebook.com/share/1EB9BxEjgj/',
    instagram: 'https://www.instagram.com/_mr.blacka__',
    teams: ['Design & Marketing Team', 'Tec & Dev Team'],
    leadership: true,
    leadershipLevel: 3,
    image:
      'https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80'
  },
  {
    name: 'Randil Welikala',
    studentNumber: '28313',
    nsbmMail: 'rgwelikala@students.nsbm.ac.lk',
    personalMail: 'randilgimantha646@gmail.com',
    position: 'Chief Editor',
    dob: '23/11/2000',
    program: 'Software Engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0711186189',
    linkedin: 'https://www.linkedin.com/in/randil-welikala-03336b249/',
    facebook: 'https://www.facebook.com/share/15p6RZbRW1/',
    instagram: '',
    teams: ['Design & Marketing Team'],
    leadership: true,
    leadershipLevel: 3,
    image:
      'https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Dulithi Desilva',
    studentNumber: '21503',
    nsbmMail: 'ldldesilva@students.nsbm.ac.lk',
    personalMail: 'lihansadulithi@gmail.com',
    position: 'Chief leader designer',
    dob: '24/03/2001',
    program: 'Software engineering ugc',
    university: 'UGC',
    batch: '21.1',
    mobile: '0710627653',
    linkedin: 'https://www.linkedin.com/in/dulithi-desilva-76566b277',
    facebook: 'https://www.facebook.com/share/1XdRvRY2Di/',
    instagram: 'https://www.instagram.com/duli_.de_.va',
    teams: ['Design & Marketing Team'],
    leadership: true,
    leadershipLevel: 3,
    image:
      'https://images.unsplash.com/photo-1546961329-78bef0414d7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Dewmini Ariyarathne',
    studentNumber: '29640',
    nsbmMail: 'cndariyarathne@students.nsbm.ac.lk',
    personalMail: 'nilupul1025@gmail.com',
    position: 'Assistant chief designer',
    dob: '25/10/2002',
    program: 'BSc honours in Software Engineering',
    university: 'UGC',
    batch: '23.1',
    mobile: '0762939736',
    linkedin: 'https://www.linkedin.com/in/dewmini-ariyarathne-933587270',
    facebook: '',
    instagram: 'https://www.instagram.com/nilupul__dew',
    teams: ['Design & Marketing Team', 'Tec & Dev Team'],
    leadership: true,
    leadershipLevel: 3,
    image:
      'https://images.unsplash.com/photo-1601412436009-d964bd02edbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80'
  },
  // Executive members (non-leadership positions)
  {
    name: 'Tharindi Dinesha',
    studentNumber: '28673',
    nsbmMail: 'tdkarachchi@students.nsbm.ac.lk',
    personalMail: 'tdkohombanarachchi@gmail.com',
    position: 'Executive Member',
    dob: '06/07/2000',
    program: 'Software Engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0710941138',
    linkedin: 'https://www.linkedin.com/in/tharindi-dinesha-936883212',
    facebook: 'https://www.facebook.com/tharindi.dinesha.3',
    instagram: 'https://www.instagram.com/tharindi_dinesha',
    teams: ['Design & Marketing Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1569913486515-b74bf7751574?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=789&q=80'
  },
  {
    name: 'Nimeshi Dilshara',
    studentNumber: '28893',
    nsbmMail: 'ndnbandusiri@students.nsbm.ac.lk',
    personalMail: 'nimeshid24@gmail.com',
    position: 'Executive Member',
    dob: '24/07/2001',
    program: 'Software Engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0702805593',
    linkedin: 'https://www.linkedin.com/in/nimeshi-dilshara-b2508a255',
    facebook: 'https://www.facebook.com/share/167dbPArBC/',
    instagram: 'https://www.instagram.com/nimnaa._/',
    teams: ['Design & Marketing Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'
  },
  {
    name: 'Minidu Abeywickrama',
    studentNumber: '30233',
    nsbmMail: 'bmhabeywickrama@students.nsbm.ac.lk',
    personalMail: 'sbminidu@gmail.com',
    position: 'Executive Member',
    dob: '04/07/2003',
    program: 'Bsc(Hons)Software Engineering',
    university: 'Plymouth',
    batch: '23.1',
    mobile: '0741813703',
    linkedin: 'www.linkedin.com/in/minidu-abeywickrama-1ba0b1317',
    facebook: 'https://www.facebook.com/share/18J5WD6NR9/',
    instagram: 'https://www.instagram.com/_miniduharshana_',
    teams: ['Design & Marketing Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1540569014015-19a7be504e3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80'
  },
  {
    name: 'Akash Hettiarachchi',
    studentNumber: '28888',
    nsbmMail: 'harhettiarachchi@students.nsbm.ac.lk',
    personalMail: 'akashhettiarachchi8@gmail.com',
    position: 'Executive Community',
    dob: '13/02/2001',
    program: 'BSc hons software engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0762376375',
    linkedin: '',
    facebook: '',
    instagram: '',
    teams: ['Design & Marketing Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80'
  },
  {
    name: 'Navodhya Senali',
    studentNumber: '32506',
    nsbmMail: 'rbnsenali@students.nsbm.ac.lk',
    personalMail: 'navodhyasenali@gmail.com',
    position: 'Executive Committee Member',
    dob: '16/11/2001',
    program: 'Software Engineering',
    university: 'UGC',
    batch: '23.2',
    mobile: '0705565752',
    linkedin: 'https://www.linkedin.com/in/navodhya-senali-85a40b332/',
    facebook: '',
    instagram: '',
    teams: ['Design & Marketing Team', 'Sectarian Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80'
  },
  {
    name: 'Rusiru Akash',
    studentNumber: '34214',
    nsbmMail: 'udradilepana@students.nsbm.ac.lk',
    personalMail: 'rusiruakash58@outlook.com',
    position: 'Executive',
    dob: '08/05/2000',
    program: 'BSc (Honors) Software EngineeringL',
    university: 'UGC',
    batch: '24.1',
    mobile: '0775823500',
    linkedin: 'https://www.linkedin.com/in/rusiru-akash-4327b4332',
    facebook: 'https://www.facebook.com/share/12DovBhykFe/',
    instagram: 'https://www.instagram.com/akash__00_',
    teams: ['Design & Marketing Team', 'Tec & Dev Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=932&q=80'
  },
  {
    name: 'Samsudeen Ashad',
    studentNumber: '28387',
    nsbmMail: 'simashad@students.nsbm.ac.lk',
    personalMail: 'samsudeenashad@gmail.com',
    position: 'Executive Member',
    dob: '01/01/2002',
    program: 'BSc (hons) in Software Engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0705390110',
    linkedin: 'https://www.linkedin.com/in/samsudeen-ashad-90b281255',
    facebook: 'https://www.facebook.com/SamsudeenAshad',
    instagram: 'https://www.instagram.com/samsudeenashad',
    teams: ['Sectarian Team', 'Tec & Dev Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1531891437562-4301cf35b7e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80'
  },
  {
    name: 'Janusha Jothikalananthan',
    studentNumber: '32024',
    nsbmMail: 'jjanusha@students.nsbm.ac.lk',
    personalMail: 'sarahjothy879@gmail.com',
    position: 'Executive member',
    dob: '17/07/2000',
    program: 'BSc(Hons) Software Engineering',
    university: 'Plymouth',
    batch: '23.2',
    mobile: '0711760449',
    linkedin: 'https://www.linkedin.com/in/janusha-jothikalananthan',
    facebook: '',
    instagram: 'janu_j17',
    teams: ['Tec & Dev Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1361&q=80'
  },
  {
    name: 'Vivekananthan Abishek',
    studentNumber: '29038',
    nsbmMail: 'vabishek@students.nsbm.ac.lk',
    personalMail: 'kannaabishek30@gmail.com',
    position: 'Member',
    dob: '23/08/2001',
    program: 'Software Engineering',
    university: 'UGC',
    batch: '22.2',
    mobile: '0754718296',
    linkedin: 'https://www.linkedin.com/in/vivekananthan-abishek-506b5b256',
    facebook: 'https://www.facebook.com/abishek.kanna.142',
    instagram: 'https://www.instagram.com/v.ab_boss/',
    teams: ['Design & Marketing Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1607346256330-dee7af15f7c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1013&q=80'
  },
  {
    name: 'Razeek Fareed Mohamed Fawas',
    studentNumber: '34250',
    nsbmMail: 'rfmfawas@students.nsbm.ac.lk',
    personalMail: 'mohamadfawaz891@gmail.com',
    position: 'Executive member',
    dob: '14/11/2002',
    program: 'BSc(Hons)in software engineering',
    university: 'UGC',
    batch: '24.1',
    mobile: '0753837488',
    linkedin: 'https://www.linkedin.com/in/mohamedfawas8',
    facebook: 'https://www.facebook.com/share/1A2bVuPv9r/',
    instagram: 'https://www.instagram.com/mhd_fawhzzz49',
    teams: ['Design & Marketing Team', 'Sectarian Team', 'Tec & Dev Team'],
    leadership: false,
    leadershipLevel: 4,
    image:
      'https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80'
  }
]

// Initialize the active filter
let activeFilter = 'All Members'
---

<!-- Rest of the component's HTML -->
<PageLayout {frontmatter}>
  <div class="container mx-auto px-4 py-8">
    <h1 class="mb-8 text-center text-4xl font-bold">
      Association Executive Committee
    </h1>

    <!-- Team Filter Buttons -->
    <div class="mb-12 flex flex-wrap justify-center gap-4">
      {
        teams.map((team) => (
          <button
            class="filter-btn hover:bg-accent rounded-full px-4 py-2 transition-all duration-300 hover:text-white"
            data-team={team}
          >
            {team}
          </button>
        ))
      }
    </div>

    <!-- Leadership Teams -->
    <div class="leadership-teams mb-16">
      <!-- President & Vice President -->
      <div class="mb-16">
        <h2 class="text-accent mb-8 text-center text-3xl font-semibold">
          Presidential Board
        </h2>
        <div class="grid grid-cols-1 justify-items-center gap-8 md:grid-cols-2">
          {
            members
              .filter((member) => member.leadershipLevel === 1)
              .map((member) => (
                <div class="member-card" data-teams={member.teams.join(',')}>
                  <div class="hover:shadow-accent/20 relative overflow-hidden rounded-lg bg-white/10 shadow-lg backdrop-blur-sm transition-all duration-300 hover:shadow-xl">
                    <div class="aspect-[3/4] overflow-hidden">
                      <img
                        src={member.image}
                        alt={member.name}
                        class="h-full w-full object-cover object-center transition-transform duration-500 hover:scale-110"
                      />
                    </div>
                    <div class="p-6">
                      <h3 class="mb-1 text-2xl font-bold">{member.name}</h3>
                      <p class="text-accent mb-3 text-xl font-medium">
                        {member.position}
                      </p>
                      <p class="mb-2">
                        <span class="font-medium">Batch:</span> {member.batch}
                      </p>
                      <p class="mb-2">
                        <span class="font-medium">University:</span>{' '}
                        {member.university}
                      </p>

                      <div class="mt-6 flex gap-3">
                        {member.linkedin && (
                          <a
                            href={member.linkedin}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-2xl transition-colors"
                            aria-label="LinkedIn Profile"
                          >
                            <Icons name="linkedin" />
                          </a>
                        )}
                        {member.facebook && (
                          <a
                            href={member.facebook}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-2xl transition-colors"
                            aria-label="Facebook Profile"
                          >
                            <Icons name="facebook" />
                          </a>
                        )}
                        {member.instagram && (
                          <a
                            href={member.instagram}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-2xl transition-colors"
                            aria-label="Instagram Profile"
                          >
                            <Icons name="instagram" />
                          </a>
                        )}
                      </div>
                    </div>
                  </div>
                </div>
              ))
          }
        </div>
      </div>

      <!-- Secretary & Treasurer Team -->
      <div class="mb-16">
        <h2 class="text-accent mb-8 text-center text-3xl font-semibold">
          Secretary & Treasurer Team
        </h2>
        <div
          class="grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-2 lg:grid-cols-4"
        >
          {
            members
              .filter((member) => member.leadershipLevel === 2)
              .map((member) => (
                <div class="member-card" data-teams={member.teams.join(',')}>
                  <div class="hover:shadow-accent/20 relative overflow-hidden rounded-lg bg-white/5 shadow-lg backdrop-blur-sm transition-all duration-300 hover:translate-y-[-5px] hover:shadow-xl">
                    <div class="aspect-[3/4] overflow-hidden">
                      <img
                        src={member.image}
                        alt={member.name}
                        class="h-full w-full object-cover object-center transition-transform duration-500 hover:scale-110"
                      />
                    </div>
                    <div class="p-4">
                      <h3 class="mb-1 text-xl font-bold">{member.name}</h3>
                      <p class="text-accent mb-2 font-medium">
                        {member.position}
                      </p>

                      <div class="mt-4 flex gap-2">
                        {member.linkedin && (
                          <a
                            href={member.linkedin}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-xl transition-colors"
                            aria-label="LinkedIn Profile"
                          >
                            <Icons name="linkedin" />
                          </a>
                        )}
                        {member.facebook && (
                          <a
                            href={member.facebook}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-xl transition-colors"
                            aria-label="Facebook Profile"
                          >
                            <Icons name="facebook" />
                          </a>
                        )}
                        {member.instagram && (
                          <a
                            href={member.instagram}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-xl transition-colors"
                            aria-label="Instagram Profile"
                          >
                            <Icons name="instagram" />
                          </a>
                        )}
                      </div>
                    </div>
                  </div>
                </div>
              ))
          }
        </div>
      </div>

      <!-- Team Leads -->
      <div class="mb-16">
        <h2 class="text-accent mb-8 text-center text-3xl font-semibold">
          Team Leads
        </h2>
        <div
          class="grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-2 lg:grid-cols-5"
        >
          {
            members
              .filter((member) => member.leadershipLevel === 3)
              .map((member) => (
                <div class="member-card" data-teams={member.teams.join(',')}>
                  <div class="hover:shadow-accent/20 relative overflow-hidden rounded-lg bg-white/5 shadow-lg backdrop-blur-sm transition-all duration-300 hover:translate-y-[-5px]">
                    <div class="aspect-[3/4] overflow-hidden">
                      <img
                        src={member.image}
                        alt={member.name}
                        class="h-full w-full object-cover object-center transition-transform duration-500 hover:scale-110"
                      />
                    </div>
                    <div class="p-3">
                      <h3 class="mb-1 text-lg font-bold">{member.name}</h3>
                      <p class="text-accent mb-1 text-sm font-medium">
                        {member.position}
                      </p>

                      <div class="mt-3 flex gap-2">
                        {member.linkedin && (
                          <a
                            href={member.linkedin}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-lg transition-colors"
                            aria-label="LinkedIn Profile"
                          >
                            <Icons name="linkedin" />
                          </a>
                        )}
                        {member.instagram && (
                          <a
                            href={member.instagram}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hover:text-accent text-lg transition-colors"
                            aria-label="Instagram Profile"
                          >
                            <Icons name="instagram" />
                          </a>
                        )}
                      </div>
                    </div>
                  </div>
                </div>
              ))
          }
        </div>
      </div>
    </div>

    <!-- Executive Members -->
    <div>
      <h2 class="text-accent mb-8 text-center text-3xl font-semibold">
        Executive Members
      </h2>
      <div
        class="grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5"
      >
        {
          members
            .filter((member) => !member.leadership)
            .map((member) => (
              <div class="member-card" data-teams={member.teams.join(',')}>
                <div class="hover:shadow-accent/20 relative overflow-hidden rounded-lg bg-white/5 shadow-lg backdrop-blur-sm transition-all duration-300 hover:scale-[1.03]">
                  <div class="aspect-[1/1] overflow-hidden">
                    <img
                      src={member.image}
                      alt={member.name}
                      class="h-full w-full object-cover object-center transition-transform duration-500 hover:scale-110"
                    />
                  </div>
                  <div class="p-3">
                    <h3 class="text-md mb-1 font-bold">{member.name}</h3>
                    <p class="text-accent text-xs font-medium">
                      {member.position}
                    </p>

                    <div class="mt-2 flex gap-2">
                      {member.linkedin && (
                        <a
                          href={member.linkedin}
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-md hover:text-accent transition-colors"
                          aria-label="LinkedIn Profile"
                        >
                          <Icons name="linkedin" />
                        </a>
                      )}
                      {member.instagram && (
                        <a
                          href={member.instagram}
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-md hover:text-accent transition-colors"
                          aria-label="Instagram Profile"
                        >
                          <Icons name="instagram" />
                        </a>
                      )}
                    </div>
                  </div>
                </div>
              </div>
            ))
        }
      </div>
    </div>
  </div>
</PageLayout>

<style>
  .filter-btn {
    border: 1px solid;
    border-color: rgba(var(--accent), 0.5);
    position: relative;
    overflow: hidden;
  }

  .filter-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(var(--accent), 0.2),
      transparent
    );
    transition: left 0.7s;
  }

  .filter-btn:hover::before {
    left: 100%;
  }

  .filter-btn.active {
    background-color: rgb(var(--accent));
    color: white;
    box-shadow: 0 0 10px rgba(var(--accent), 0.5);
  }

  /* Card animations and effects */
  .member-card {
    transition: transform 0.3s ease;
  }

  .member-card:hover {
    transform: translateY(-5px);
  }

  /* Add card appearance animations */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .member-card {
    animation: fadeInUp 0.6s ease forwards;
    opacity: 0;
  }

  /* Staggered animation delay for cards */
  .member-card:nth-child(1) {
    animation-delay: 0.1s;
  }
  .member-card:nth-child(2) {
    animation-delay: 0.2s;
  }
  .member-card:nth-child(3) {
    animation-delay: 0.3s;
  }
  .member-card:nth-child(4) {
    animation-delay: 0.4s;
  }
  .member-card:nth-child(5) {
    animation-delay: 0.5s;
  }
  .member-card:nth-child(6) {
    animation-delay: 0.6s;
  }
  .member-card:nth-child(7) {
    animation-delay: 0.7s;
  }
  .member-card:nth-child(8) {
    animation-delay: 0.8s;
  }
  .member-card:nth-child(9) {
    animation-delay: 0.9s;
  }
  .member-card:nth-child(10) {
    animation-delay: 1s;
  }
  /* Add more if needed */

  /* Make section headings stand out */
  .text-accent {
    position: relative;
  }

  .text-accent::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 60px;
    height: 3px;
    background: rgb(var(--accent));
    transform: translateX(-50%);
    border-radius: 2px;
  }
</style>

<script>
  function setupFilterButtons() {
    const filterButtons = document.querySelectorAll('.filter-btn')
    const memberCards = document.querySelectorAll('.member-card')

    // Set initial state - "All Members" as active
    const allMembersBtn = document.querySelector('[data-team="All Members"]')
    if (allMembersBtn) {
      allMembersBtn.classList.add('active')
    }

    filterButtons.forEach((button) => {
      button.addEventListener('click', () => {
        // Remove active class from all buttons
        filterButtons.forEach((btn) => btn.classList.remove('active'))

        // Add active class to clicked button
        button.classList.add('active')

        const team = button.getAttribute('data-team')

        // Show all cards if "All Members" is selected
        if (team === 'All Members') {
          memberCards.forEach((card) => {
            card.style.display = ''
            // Reset animations
            card.style.animation = 'none'
            setTimeout(() => {
              card.style.animation = ''
            }, 10)
          })
          return
        }

        // Filter cards based on selected team
        memberCards.forEach((card) => {
          const teams = card.getAttribute('data-teams')

          if (teams && teams.includes(team)) {
            card.style.display = ''
            // Reset animations for visible cards
            card.style.animation = 'none'
            setTimeout(() => {
              card.style.animation = ''
            }, 10)
          } else {
            card.style.display = 'none'
          }
        })
      })
    })
  }

  // Run setup when content is loaded
  document.addEventListener('DOMContentLoaded', setupFilterButtons)

  // For Astro's View Transitions - rerun setup after navigation
  document.addEventListener('astro:page-load', setupFilterButtons)
</script>
